<!--トップページ-->


<!--メイン画像の台詞-->
<div class='main-visual'>
  <div class='main-visual-content'>

    <p class='main-visual-text'>
      <strong>
        A dog is the only thing on earth<br>
      that loves you more than he loves himself.<br>
      <br>
        ― 犬はこの地球上で唯一、自分自身を愛する以上に<br>
        　　あなたを愛してくれる存在です ―<br>
       </strong>

       <br>
       <br>
       <strong>InuLife</strong>は犬好きによる犬好きのための、愛犬家交流サイトです。<br>
       <br>
       かわいい愛犬の姿を共有したり、愛犬家同士の意見交換、<br>
       質問、愛犬と暮らすうえでの悩み相談等ができます。<br>
       またグループに参加することで愛犬家の輪を広げることができます。<br>
       <br>
       さあ、あなたとかけがえのない愛犬との時間を共有しましょう！<br>
       <br>
       <br>
       No Dog, No Life<br>
       <strong>InuLife</strong><br>
       <br>
       <br>
       既に登録済みの⽅は <strong><%= link_to 'こちら', new_user_session_path %></strong> からログインしてください。<br>
       初めてご利用の方は<strong><%= link_to 'こちら', new_user_registration_path %></strong>よりご登録ください。

  </div>
</div>