<!--会員側マイページ-->

<div class='container my-5'>

  <div class='row mb-3'>
    <div class='col-md-3 offset-md-1'>

      <h4 class='bg-info text-white text-center'>マイページ</h4>

    </div>
  </div>

  <div class='row'>
    <div class='col-md-5 offset-md-1'>

      <!--この辺にattachment_image_tag-->

    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>ユーザー情報</th>
          <th></th>
        </tr>
      </thead>

      <tbody>

        <tr>
          <th class='text-center'>Name</th>
          <td><%= @user.name %></td>
        </tr>

        <tr>
          <th class='text-center'>ユーザーID</th>
          <td>@<%= @user.name_id %></td>
        </tr>

        <tr>
          <th class='text-center'>Introduction</th>
          <td><%= @user.introduction %></td>
        </tr>

      </tbody>
    </table>

    <div class="text-right">
      <%= link_to 'ユーザー情報を編集', edit_users_path, class: 'btn btn-outline-primary btn-sm' %>
    </div>

    </div>
  </div>

</div>