<footer>

<div class='container'>
  <div class='row'>

    <div class='mx-auto text-center'>
      Copyright © 2021 Inulife All Rights Reserved.
    </div>

    <div class='mx-auto text-right'>
      <%= link_to '管理者ログイン', admin_session_path %>
    </div>

  </div>
</div>

</footer>